# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.removed
/visualstudio/.vs
/visualstudio/x64
/visualstudio/test/x64
/visualstudio/telling/x64
/visualstudio/telling_jsonapi/x64
